*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

.grid{
  border: 1px solid black;
}
html{
}
#canva{
  height: 90vh;
  width: 90vh;
  background: white;
  display:flex;
  justify-content: start;
  align-content: start;
  border: 1px solid black;
}
