*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

.grid{
  border: 1px solid black;
  box-sizing: border-box;
}
html{
}
#canva{
  height: 50vh;
  width: 50vh;
  background: white;
  display:flex;
  justify-content: start;
  align-items: start;
  border: 1px solid black;
  flex-wrap: wrap;
}
